
<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat; opacity: 0.8;">
<div class="row" style="opacity: 0.8;">

  <div class="col-md-6 mx-auto">
            <br><br>
    <div class="card text-white" style="background-color:  #2c2276;">

      <div class="card-header pt-5">
        <h4 class="text-center" style="font-size: 2rem;">
          Registro del Usuario
        </h4>

        <form action="/auth/signup" method="POST">
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
      <div class="card-body" style="font-size: 2rem;">
          <div class="mb-3">
            <label for="email">Email:</label> 
            <input  type="email"  class="form-control bg-ligth"  name="email"  placeholder="Email"  value="{{email}}"required />
          </div>
          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control bg-ligth " name="name" placeholder="Nombre" value="{{name}}"required/>
          </div>
          <div class="mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control bg-ligth" name="apellido" placeholder="Primer Apellido" value="{{apellido}}"required/>
                              <input class="visually-hidden" type="number" name="puntos" value=0 readonly>
          </div>
          <div class="mb-3">
            <label for="cedula ">Cedula: SOLO NUMEROS SIN "."</label>
            <input type="number" class="form-control bg-ligth" name="cedula" placeholder="cedula" value="{{cedula}}"required/>
          </div>
         <div class="mb-3">
            <label for="Ciudad ">Ciudad:</label>
            <input type="text" class="form-control bg-ligth" name="ciudad" placeholder="ciudad" value="{{ciudad}}"required/>
          </div>

          <div class="mb-3">
          <label for="profesional" class="form-label ">Es Usted </label>
              <select id="profesional" name="profesional" class="form-select" >
                <option value="" selected>Seleccione su Respuesta</option>
                <option value="Medico" >Medico</option>
                <option value="Dependiente de Farmacia" >Dependiente de Farmacia</option>
               
              </select>

          </div>
                   <div class="mb-3">
            <label for="Marca ">Marca Favorita de Eticos:</label>
            <input type="text" class="form-control bg-ligth" name="marca" placeholder="marca" value="{{marca}}"required/>
          </div>
      </div>
  </div>
</div>
              <div class="form-termsAndConditions termsAndConditions" style="color: white; font-size: 2rem">
                <input type="checkbox" id="termsAndConditions" name="termsAndConditions" onChange="comprobar(this);">
                <label for="termsAndConditions">Acepto los </label>
                <a href="/estudios/AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES.pdf" target="_blank">Términos y Condiciones</a>
                <p>de la política de protección de datos.</p>
                <p class="mensajeError"></p>
              </div>

          <button class="btn btn-success btn-block" style="background-color: blue; font-size: 2rem" >
            Registro
          </button>
        </form>
        </form>
      </div>


    </div>
<br><br>
  </div>
</div>
</div>
